{% extends 'base.html' %}

{% block title %}Edit Comment{% endblock %}

{% block subtitle %}
<div class="subject">
  Write something nice.
</div>
{% endblock %}

{% block content %}
<div class="content">
  <div class="comment-form">
    <form class="" method="post">
      <div class="form-group">
        <label for="updated-comment">Edit comment:</label>
        <textarea class="form-control" name="updated-comment" rows="2" cols="40">{{ comment.comment }}</textarea>
      </div>
      <div class="form-group post-comment-area">
        <button type="submit" name="update" class="btn" value="{{ comment_id }}">Update</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
