{% extends 'base.html' %}

{% block title %}{{ post.subject }}{% endblock %}

{% block subtitle %}
<div class="subject">
  {{ post.subject }}
</div>
{% endblock %}

<div class="content">
  {{ post.content | safe }}
</div>

{% block content %}
<div class="row body">
  <div class="col-md-8">
    <div class="insta_img">
      <img class="img-responsive" src="{{ post.img_url }}" alt="An abstract Instagram photo" />
    </div>
  </div>
  <div class="col-md-4">
    <div class="post-body">
      {{ post.content | safe }}
      {% if user_is_author %}
      <form method="post" action="/edit" class="author-options text-center">
        <button class="btn" type="submit" name="edit" value="{{ post.key.id() }}">Edit</button>
        <button class="btn btn-danger" type="submit" name="delete" value="{{ post.key.id() }}">Delete</button>
      </form>
      {% endif %}
    </div>
    <div class="post-footer">
      <form class="" action="/like" method="post">
        <button class="btn btn-primary" type="submit" name="liked" value="{{ post.key.id() }}">Like</button>
        <span>{{ post.like_count }} Likes</span>
      </form>
      <div class="author">
        By {{ post.author }}
      </div>
    </div>
    <div class="comments">
      <h4>Comments</h4>
      {% if user_name %}
      <div class="comment-form">
        <form class="" method="post" action="/comment">
          <div class="form-group">
            <label for="comment">Post a comment:</label>
            <textarea class="form-control" name="comment" rows="2" cols="40"></textarea>
          </div>
          <div class="form-group post-comment-area">
            <p class="small-info">
              Logged in as {{ user_name }}
            </p>
            <button type="submit" name="post_id" value="{{ post.key.id() }}" class="btn">Post</button>
          </div>
        </form>
      </div>
      {% else %}
      <p>
        <a href="/login">Login to post a comment.</a>
      </p>
      {% endif %}

      {% for comment in comments %}
      <div class="comment">
        <div class="comment-body">
          {{ comment.comment }}
        </div>
        <div class="comment-meta">
          {% if user_name and user_name == comment.author %}
          <form method="post" action="/comment">
            <input type="hidden" name="post_id" value="{{ post.key.id() }}">
            <button class="btn-no-style" type="submit" name="edit" value="{{ comment.key.id() }}">Edit</button>
            /
            <button class="btn-no-style" type="submit" name="delete" value="{{ comment.key.id() }}">Delete</button>
          </form>
          {% endif %}
          - {{ comment.author }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
