a,a:hover {
  color: inherit;
}

body {
  background-color: #fafafa;
}

p {
  margin: 10px 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

h1 {
  margin: 10px 0 10px
}


.title {
  text-align: center;
  border-right: 2px solid #333;
}

.subject {
  font-family: cursive, sans-serif;
  font-size: 1.5em;
  font-weight: 800;
}

.author {
  font-family: cursive, sans-serif;
  font-size: .75em;
  text-align: right;
}

.subtitle {
  font-size: 1.5em;
}

.home {
  margin: 1em 0;
  font-size: 1.5em;
}

.small-info {
  font-style: italic;
  font-size: .75em;
  margin: 10px;
}

.error {
  color: red;
}

.msg {
  font-style: italic;
}

.content {

}

.post {
  margin: 0 auto 4em;
  max-width: 600px;
  padding: 20px 0;
  border-radius: 10px;
  border: 1px solid #efefef;
  background: #fff;
}

.post-header {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.post-body {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.edit {
  padding-top: 10px;
}

.btn-no-style {
  background:none;
  border: none;
  font-size: 1em;
  color: inherit;
  padding: 0;
}

.btn-no-style:hover {
  text-decoration: underline;
}

.comments {
  padding-top: 10px;
  border-top: 1px solid #999;
}

.comment-container {
  width: 100%;
  float: left;
  padding: 0.5em 0;
  border-top: 1px solid #555
}

.comment-body {

}

.comment-meta {
  float: right;
  font-size: .75em;
  color: #555;
  font-style: italic;
}

.comment-meta form {
  display: inline-block;
}

#sidebar {
  overflow-y: auto;
  max-height: 100%;
}

.sidebar-user {
}

.post-button-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media (max-width: 768px){
  .title {
    border-right: 0;
    border-bottom: 2px solid #333;
    width: 100%;
  }
}

@media (max-width: 992px){
  #sidebar {
    position: static;
    width: 100%;
    margin-bottom: 2em;
  }
}
@media (max-width: 1200px){
  .title h1{
    font-size: 30px;
  }
}
