{% extends 'base.html' %}

{% block title %}Auth for Insta{% endblock %}

{% block subtitle %}
<p>
  Authorize instagram, foo!
</p>
{% endblock %}

{% block content %}
<div class="row body">
    <div class="col-md-6 col-md-offset-3">
      <div class="">
        <a href="https://api.instagram.com/oauth/authorize/?client_id={{client_id}}&redirect_uri={{redirect_uri}}&response_type=code">
          <button class="btn btn-primary" style="font-size:3em;">
            Authorize it. Right. Now.
          </button>
        </a>

        <p>
          This app uses a sandboxed Instagram API to pull images for blog inspiration.
        <br><br>
          A user enrolled with this sandboxed API must sign in for the Instagram API to work correctly. Please authorize it using the link above if you have an enrolled Instagram account.
        </p>
      </div>
    </div>
</div>
{% endblock %}
