<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css" media="screen">
    <style media="screen">
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1" id="sidebar">
          <div class="header row">
            <div class="col-sm-4 title">
              <a href="/blog"><h1>Abstract Interpretations</h1></a>
            </div>
            <div class="col-sm-8 sidebar-desc">
              {% block sideheader %}{% endblock %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right sidebar-user">
              {% block sidebar_user %}{% endblock %}
              {% if user_name %}
                Logged in as {{ user_name }} / <a href="/blog/logout">Logout.</a>
              {% else %}
                <p>
                  <a href="/blog/login">Login</a> |
                  <a href="/blog/signup">Sign up</a>
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 content">
          <div class="home error col-md-12 text-center">
            {{ error }}
          </div>
          <div class="home msg col-md-12 text-center">
            {{ msg }}
          </div>
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
