{% extends 'base.html' %}

{% block title %}Edit Your Post{% endblock %}

{% block subtitle %}
  <p class="subject">{{ post.subject }}</p>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-lg-8">
        <img class="img-responsive" src="{{ post.img_url }}" alt="" />
      </div>
      <div class="col-lg-4">
        <form class="" method="post" action="/blog/edit">
          <div class="form-group">
            <label for="subject">Title:</label>
            <input class="form-control" type="text" name="subject" value="{{ post.subject }}" id="subject" placeholder="an interpretation...">
            <div class="error">
              {{ s_error }}
            </div>
          </div>
          <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-control" name="content" rows="8" cols="40" id="content">{{ post.content | safe }}</textarea>
            <div class="error">
              {{ c_error }}
            </div>
          </div>
          <input type="hidden" name="img_url" value="{{ post.img_url }}">
          <button class="btn btn-primary" type="submit" name="update" value="{{ post.key.id() }}">Update</button>
          <button class="btn" type="submit" name="cancel" value="{{ post.key.id() }}">Cancel</button>
        </form>
      </div>
    </div>
{% endblock %}
