{% extends 'base.html' %}

{% block title %}Abstract Interpretations{% endblock %}


{% block subtitle %}
    <p>
      Receive an abstract photo.<br><a href="/blog/newpost">
      Share a new interpretation. </a>
    </p>
{% endblock %}



{% block content %}
    {% for post in posts %}
      <div class="row post">
        <div class="col-md-12">
          <a href="/blog/post?post_id={{ post.key.id() }}">
            <div class="insta_img">
              <img class="img-responsive" src="{{ post.img_url }}" alt="An abstract Instagram photo" />
            </div>
          </a>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <a href="/blog/post?post_id={{ post.key.id() }}">
            <div class="post-header">
              <div class="subject">
                {{ post.subject }}
              </div>
            </div>

          </a>
          <div class="post-body">
            {{ post.content | safe }}
          </div>
          <div class="post-footer">
            <form class="" action="/blog/like" method="post">
              <button class="btn btn-primary" type="submit" name="liked" value="{{ post.key.id() }}">Like</button>
              <span>{{ post.like_count }} Likes</span>
            </form>
            <div class="author">
              By {{ post.author }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}
