{% extends 'base.html' %}

{% block title %}Abstract Interpretations{% endblock %}

{% block header_h2 %}
{% endblock %}

{% block sidebar_desc %}
    <p class="subtitle">
      Receive an abstract photo.<br><a href="/blog/newpost">
      Share your raw interpretation. </a>
    </p>
{% endblock %}



{% block content %}
    {% for post in posts %}
      <div class="col-md-12 post">
        <a href="/blog/post?post_id={{ post.key.id() }}">
          <div class="insta_img">
            <img class="img-responsive" src="{{ post.img_url }}" alt="An abstract Instagram photo" />
          </div>
        </a>
        <a href="/blog/post?post_id={{ post.subject }}">
          <div class="subject">
            {{ post.subject }}
          </div>
        </a>
        <div class="content">
          {{ post.content | safe }}
        </div>
      </div>
    {% endfor %}
{% endblock %}
