{% extends 'base.html' %}

{% block title %}Add a new Post{% endblock %}
{% block header_h2 %}Add a new Post{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h3>How does this make you feel?</h3>
    <img class="img-responsive" src="{{ img_url }}" alt="" />
  </div>
  <div class="col-md-6">
    <h3>Enter your thoughts.</h3>
    <form class="" method="post">
      <div class="form-group">
        <label for="subject">Subject:</label>
        <input class="form-control" type="text" name="subject" value="{{ subject }}" id="subject">
        <div class="error">
          {{ s_error }}
        </div>
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-control" name="content" rows="8" cols="40" id="content">{{ content }}</textarea>
        <div class="error">
          {{ c_error }}
        </div>
      </div>
      <input type="hidden" name="img_url" value="{{ img_url }}">
      <button class="btn btn-primary" type="submit" name="submit">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
