{% extends 'base.html' %}

{% block title %}Add a new Post{% endblock %}
{% block header_h2 %}How does it make you feel?{% endblock %}
{% block subtitle %}
  <p>Share an interpretation</p>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-8">
    <img class="img-responsive" src="{{ img_url }}" alt="" />
  </div>
  <div class="col-lg-4">
    <div class="text-left">
      <form class="" method="post">
        <div class="form-group">
          <label for="subject">Title:</label>
          <input class="form-control" type="text" name="subject" value="{{ subject }}" id="subject" placeholder="an interpretation..." autofocus>
          <div class="error">
            {{ s_error }}
          </div>
        </div>
        <div class="form-group">
          <label for="content">Interpretation:</label>
          <textarea class="form-control" name="content" rows="8" cols="40" id="content">{{ content }}</textarea>
          <div class="error">
            {{ c_error }}
          </div>
        </div>
        <input type="hidden" name="img_url" value="{{ img_url }}">
        <input type="hidden" name="img_url_hash" value="{{ img_url_hash }}">
        <button class="btn btn-primary pull-right" type="submit" name="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
