{% extends 'base.html' %}

{% block title %}New Post{% endblock %}

{% block header_h2 %}
{% endblock %}

{% block sidebar %}
<div class="subject">
  {{ post.subject }}
</div>
<div class="content">
  {{ post.content | safe }}
</div>
{% endblock %}

{% block content %}
<div class="row body">
    <div class="col-md-12 post">
      <div class="insta_img">
        <img class="img-responsive" src="{{ post.img_url }}" alt="An abstract Instagram photo" />
      </div>
    </div>
    <div class="col-md-12">
      {% if author %}
      <form method="post">
        <button type="submit" name="edit" value="{{ cookie_val }}">Edit</button>
        <button type="submit" name="delete" value="{{ cookie_val }}">Delete</button>
      </form>}
      {% endif %}
    </div>
</div>
{% endblock %}
