{% extends 'base.html' %}

{% block title %}New Post{% endblock %}

{% block header_h2 %}
  What an interpretation!
{% endblock %}

{% block content %}
<div class="row body">
    <div class="col-md-12 post">
      <div class="insta_img">
        <img class="img-responsive" src="{{ post.img_url }}" alt="An abstract Instagram photo" />
      </div>
      <div class="subject">
        {{ post.subject }}
      </div>
      <div class="content">
        {{ post.content | safe }}
      </div>
    </div>
</div>
{% endblock %}
