{% extends 'base.html' %}

{% block title %}Welcome, {{ username }}{% endblock %}

{% block header_h2 %}
  Welcome, {{ username }}!
{% endblock %}

{% block content %}
<div class="row body">
    <div class="col-md-6 col-md-offset-3 post">
      <h3>Welcome to my blog</h3>
      <p>
        Bacon ipsum dolor amet boudin prosciutto pork loin andouille t-bone salami hamburger brisket flank cow tri-tip fatback short loin pig shoulder. Prosciutto cow pancetta ham pork, tongue bacon. Andouille turducken shoulder turkey short ribs pork belly ham hock beef ribs t-bone. Bresaola turducken corned beef biltong tri-tip pork loin alcatra cupim chicken fatback pork chop chuck prosciutto landjaeger.
      </p><p>
        Pig doner pancetta tri-tip, landjaeger jowl frankfurter. Spare ribs hamburger swine sirloin, turducken pork chop chicken tail. Corned beef t-bone chuck biltong hamburger. Doner drumstick ribeye, short ribs fatback filet mignon meatloaf. Kevin flank porchetta, beef ham hock cow turducken ham tail. Porchetta shoulder brisket bresaola prosciutto.
      </p><p>
        Capicola ham hock pork belly meatloaf pork chop, kielbasa rump meatball prosciutto tongue frankfurter swine shank t-bone cow. Beef ribeye shoulder, short ribs pig ham hock pork shankle ham corned beef. Picanha turkey jerky sausage. Swine ribeye spare ribs, sausage ham pig bresaola turkey drumstick. Prosciutto turkey swine, venison meatball jerky biltong.
      </p><p>
        Pastrami pancetta corned beef rump, tri-tip meatball meatloaf jowl biltong venison pig ball tip. Alcatra pork loin chicken short loin meatloaf, tri-tip drumstick salami porchetta t-bone flank boudin tenderloin sausage. Shank meatloaf ribeye alcatra. Short ribs spare ribs filet mignon ball tip prosciutto turkey jowl porchetta cupim drumstick pork. Kevin picanha kielbasa strip steak drumstick pancetta pig. Sausage tenderloin bresaola drumstick, shoulder pig short ribs corned beef pastrami capicola. Jowl salami meatball pastrami biltong filet mignon andouille pancetta fatback.
      </p>

    </div>
</div>
{% endblock %}
